google-generativeai
transformers>=4.50.0
langchain
langchain-huggingface
langchain-google-genai
langchain-ollama
huggingface-hub
python-dotenv
langchain-huggingface
langchain-community
langchain-experimental
grandalf
numpy 
scikit-learn
ipykernel
RestrictedPython
lxml[html_clean]
newspaper4k
bs4
beautifulsoup4
reportlab
pypdf
unstructured
unstructured[pdf]
tensorflow
keras
tf-keras
IProgress
sentence-transformers
xformers
langchain-chroma
tiktoken
wikipedia
faiss-cpu
chromadb