beautifulsoup4
bs4
chromadb
duckduckgo-search
faiss-cpu
google-genai
google-generativeai
grandalf
huggingface-hub
IProgress
ipykernel
jupyter
langchain
langchain-chroma
langchain-community
langchain-experimental
langchain-google-genai
langchain-huggingface
langchain-ollama
lxml[html_clean]
newspaper4k
notebook
numpy
RestrictedPython
scikit-learn
sentence-transformers
tiktoken
transformers>=4.50.0
unstructured
unstructured[pdf]
wikipedia
youtube-transcript-api
# conda install --channel conda-forge pygraphviz